@using SharpIDE.Application.Features.Build
@using XtermBlazor

@inject BuildService BuildService
@inject IJSRuntime JsRuntime

@implements IDisposable

<div style="width: 100%">
	<Xterm @ref="@_terminalRef" Options="@_options" />
</div>

@code {
	private List<string> _outputLines = [];
	private ElementReference _logContainer;

	private Xterm _terminalRef;

	private TerminalOptions _options = new TerminalOptions
	{
		CursorBlink = true,
		CursorStyle = CursorStyle.Bar,
		Columns = 140,
		Theme =
		{
			BrightGreen = "#98c379",
			BrightRed = "#eb424f",
			Background = "#282c34",
		},
	};

	protected override async Task OnInitializedAsync()
	{
		BuildService.BuildStarted += ClearPreviousOutput;
		_ = Task.Run(async () =>
		{
			try
			{
				await foreach (var logLine in BuildService.BuildTextWriter.ConsoleChannel.Reader.ReadAllAsync())
				{
					await _terminalRef.Write(logLine);
				}
			}
			catch (Exception e)
			{
				await DispatchExceptionAsync(e);
			}
		});
	}

	private async Task ClearPreviousOutput()
	{
		_outputLines.Clear();
		await _terminalRef.Clear();
		await InvokeAsync(StateHasChanged);
	}

	private async Task ScrollToBottomAsync()
	{
		await JsRuntime.InvokeVoidAsync("scrollToBottom", _logContainer);
	}

	public void Dispose()
	{
		BuildService.BuildStarted -= ClearPreviousOutput;
	}
}
